  .footer {
    display: flex;
    justify-content: flex;  /* Adds space between buttons */
    padding: 10px 20px;
    background-color: #d5deee;
    border-radius: 5px;
  }


  .footer .dont-click-link {
    margin-left: auto; /* Push it to the far left */
    margin-left: 10px;
    text-decoration: none;
    color: #383847;
    font-weight: bold;
    cursor: pointer;
  }

  .footer .dont-click-link:hover {
    text-decoration: underline;
  }


  .pagebreak {
    border: none;
    height: 2px;
    background-color: #c0cadf;
    margin-top: 10%;
    margin-bottom: 1%;
    width: 100%; /* Ensures it spans the entire width */
  }
  